.mainPage {
    background-image: url('../../public/_img/real-estate-agent.png');
}
.bg {
    background-color: white;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    transform: none;
}

.background-wrapper {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    transform: none;
}